<%= jqgrid("Samples", "sample_grid", @grid_action,
	[
    { :field => "submission_date", :label => "Date Submitted", :width => 150 },
    { :field => "short_sample_name", :label => "Name On Tube", :width => 150 },
    { :field => "sample_name", :label => "Sample Description", :width => 400 },
    { :field => "sbeams_user", :label => "User", :width => 80 },
    { :field => "projects.name", :label => "Project", :width => 150 },
  ],
  :height => 550,
  :sort_column => "submission_date",
  :sort_order => "desc",
  :rows_per_page => 25,
  :multi_selection => true
) %>

<p><%= submit_tag "Edit Selected Sample", :id => "besample" %> 
  <%= submit_tag "Destroy Selected Sample", :id => "bdsample" %></p>
