<p><label for="sample_set_service_option_id">Services Requested</label><br/>
  <select id="sample_set_service_option_id" name="sample_set[service_option_id]">
    <option value="">Please select</option>
    <% for service_option in @service_options %>
      <option value="<%= service_option.id %>" price="<%= service_option.total_cost %>"><%=h service_option.name %></option>
    <% end %>
  </select>
</p>
