<h2>Listing Bioanalyzer Runs</h2>

<%= jqgrid("Bioanalyzer Runs", "data_grid", grid_bioanalyzer_runs_path,
	[
		{ :field => "date", :label => "Date" },
    { :field => "bioanalyzer_runs.name", :label => "Run Name", :width => 600 },
  ],
  :height => 550,
  :sort_column => "date",
  :sort_order => "desc",
  :rows_per_page => 25,
  :multi_selection => true 
) %>

<p><%= submit_tag "Destroy Selected Bioanalyzer Run", :id => "bddata" %></p>
