<h3>Hybridizations Recorded</h3>

<table class="nonsortable">
  <thead>
    <tr>
      <th>Date</th>
      <th>
        <% if @hybridization_set.platform.uses_chip_numbers %>
          Chip Number
        <% else %>
          Chip Name
        <% end %>
      </th>
      <th>Sample</th>
    </tr>
  </thead>
  <tbody>
    <% @hybridization_set.hybridizations.each do |hybridization| %>
      <tr>
        <td><%=h hybridization.hybridization_date %></td>
        <td>
          <% if @hybridization_set.platform.uses_chip_numbers %>
            <%=h hybridization.chip_number %>
          <% else %>
            <%=h hybridization.microarray.chip.name %>
          <% end %>
        </td>
        <td>
          <%=h "#{hybridization.sample_names}" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
