<h2>Hybridizations Recorded:</h2>

<% @hybridization_set.chips.each_with_index do |chip, index| %>
  <p>Chip Name: <%=h chip.name %></br>
  Hybridization Date: <%=h chip.hybridization_date %><br/>

  <%= render :partial => "chips/show", :locals => {:chip => chip} %>
  </p>
<% end %>
