<%= error_messages_for 'organism' %>

<!--[form:organism]-->
<p><label for="organism_name">Name</label><br/>
<%= @f.text_field 'name'  %></p>

<%= @f.hidden_field 'lock_version' %>
<!--[eoform:organism]-->

