<h2>Listing organisms</h2>

<p><%= link_to 'New organism', :action => 'new' %></p>

<%= jqgrid("Organisms", "data_grid", grid_organisms_path,
	[
    { :field => "name", :label => "Name", :width => 400 },
  ],
  :height => 550,
  :sort_column => "name",
  :sort_order => "asc",
  :rows_per_page => 25,
  :multi_selection => true
) %>

<p><%= submit_tag "Edit Selected Organism", :id => "bedata" %> 
   <%= submit_tag "Destroy Selected Organism", :id => "bddata" %></p>
