<h2>Listing Charge Templates</h2>

<p><%= link_to 'New charge_template', :action => 'new' %></p>

<%= jqgrid("Charge Templates", "data_grid", grid_charge_templates_path,
	[
    { :field => "charge_templates.name", :label => "Name", :width => 200 },
    { :field => :description, :label => "Description" },
    { :field => "platform.name", :label => "Platform", :width => 100 },
    { :field => :chips_used, :label => "Chips Used", :width => 110 },
    { :field => :chip_cost, :label => "Chip Cost", :width => 110 },
    { :field => :labeling_cost, :label => "Labeling Cost", :width => 130 },
    { :field => :hybridization_cost, :label => "Hybridization Cost" },
    { :field => :qc_cost, :label => "QC Cost", :width => 110 },
    { :field => :other_cost, :label => "Other Cost", :width => 110 },
  ],
  :height => 550,
  :sort_column => "charge_templates.name",
  :sort_order => "asc",
  :rows_per_page => 25,
  :multi_selection => true
) %>

<p><%= submit_tag "Edit Selected Charge Template", :id => "bedata" %> 
  <%= submit_tag "Destroy Selected Charge Template", :id => "bddata" %></p>
