  <p>
    <b>Role</b><br />
    <%= select :user_profile, :role, ["customer", "staff", "admin"] %>
  </p>

  <p>
    <b>Notifications</b><br />
    <%= check_box :user_profile, :notify_of_qc_outliers %> Notify when arrays don't meet QC requirements<br />
  </p>
