<h1>Listing projects</h1>

<p><%= link_to 'New project', :action => 'new' %></p>

<%= jqgrid("Projects", "data_grid", grid_projects_path,
	[
		{ :field => "name", :label => "Name" },
		{ :field => "budget", :label => "Budget/PO" },
    { :field => "lab_group_name", :label => "Lab Group", :sortable => false },
    { :field => "active", :label => "Active" },				
  ],
  :height => 550,
  :sort_column => "name",
  :sort_order => "asc",
  :rows_per_page => 25,
  :multi_selection => true
) %>

<p><%= submit_tag "Edit Selected Project", :id => "bedata" %> 
   <%= submit_tag "Destroy Selected Project", :id => "bddata" %></p>
