<h2>Listing Inventory Check</h2>

<p><%= link_to 'New inventory_check', :action => 'new' %></p>

<%= jqgrid("Inventory Checks", "data_grid", "/inventory_checks/grid",
	[
		{ :field => "inventory_checks.date", :label => "Date" },
    { :field => "lab_group_name", :label => "Lab Group", :sortable => false },
		{ :field => "chip_types.name", :label => "Chip Type" },
		{ :field => "number_expected", :label => "Number Expected" },
    { :field => "number_counted", :label => "Number Counted" },				
  ],
  :height => 550,
  :sort_column => "inventory_checks.date",
  :sort_order => "desc",
  :rows_per_page => 25,
  :multi_selection => true
) %>

<p><%= submit_tag "Edit Selected Inventory Check", :id => "bedata" %> 
   <%= submit_tag "Destroy Selected Inventory Check", :id => "bddata" %></p>
