<h2>Editing Charge</h2>

<% form_for([@charge_set, @charge]) do |f| %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Back', charge_set_charges_path(@charge_set) %>
