<html>
  <head>
      <title><%= SiteConfig.site_name %> | <%= controller.controller_name %> | <%= controller.action_name %></title>
      <%= stylesheet_link_tag 'mystyles' %>
      <%= stylesheet_link_tag 'tinytable.css' %>
      <%= stylesheet_link_tag 'print', :media => 'print' %>
      <%= stylesheet_link_tag 'jqgrid/jquery-ui-1.7.1.custom', 'jqgrid/ui.jqgrid' %>
      <%= javascript_include_tag 'checkall' %>
      <%= javascript_include_tag 'tinytable-packed' %>
      <%= javascript_include_tag 'jqgrid/jquery', 'jqgrid/jquery-ui-1.7.1.custom.min.js', 'jqgrid/jquery.layout',
        'jqgrid/i18n/grid.locale-en', 'jqgrid/jquery.jqGrid.min', 'jqgrid/jquery.tablednd', 'jqgrid/jquery.contextmenu' %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_tag "var samples_url = '#{url_for(:controller => "samples", :only_path => false)}'" %>
  </head>
  <body>
    <div id="title_bar">
      <h1><%= SiteConfig.find(1).site_name %></h1>
    </div>
    <div id="wrap">
      <div id="menu">
        <% if logged_in? %>
          <%= link_to 'Home', {:controller => 'welcome', :action => 'home'} %>
          <% if SiteConfig.track_inventory? %>
            <li class="category">Chips</li>
            <li><%= link_to 'Chip Inventory', {:controller => 'inventory', :action => 'index'} %></li>
            <%= link_if_staff_or_admin 'Inventory Checks', inventory_checks_path, 
            :wrap_in => 'li'%>
            <%= link_if_staff_or_admin 'Chip Types', chip_types_path, :wrap_in => 'li'%>
          <% end %>
          <% if SiteConfig.track_hybridizations? %>
            <li class="category">Samples</li>
            <li><%= link_to 'Bioanalyzer Results', bioanalyzer_runs_path %></li>
            <li><%= link_to 'Samples', samples_path %></li>
            <%= link_if_staff_or_admin 'Hybridizations', hybridizations_path, 
            :wrap_in => 'li'%>
          <% end %>
          <% if SiteConfig.track_charges? %>
            <% if current_user.staff_or_admin? %>
              <li class="category">Charges</li>
              <li><%= link_to 'Charges', charge_sets_path %></li>
              <li><%= link_to 'Charge Templates', charge_templates_path %></li>
            <% end %>    
          <% end %>
          <% if current_user.staff_or_admin? %>
            <li class="category">Administration</li>
            <li><%= link_to 'Lab Groups', lab_groups_path %></li>
            <li><%= link_to 'Projects', projects_path %></li>
            <li><%= link_to 'Organisms', organisms_path %></li>
            <li><%= link_to 'Naming Schemes', naming_schemes_path %></li>
            <li><%= link_to 'Users', users_path %></li>
          <% end %>
          <% if current_user.admin? %>
            <li><%= link_to 'Site Config', {:controller => 'site_config', :action => 'edit'} %></li>
          <% end %>
          <li><%= link_to 'Log Out', {:controller => 'sessions', :action => 'destroy'} %></li>
        <% end %>    
      </div>
      <div id="main">
        <p style="color: green"><%= flash[:notice] %></p>
        <p style="color: red"><%= flash[:warning] %></p>
        <%= @content_for_layout %>
      </div>
    </div>
  </body>
</html>
